.nav{
    display: flex;
    width: 100vw;
    height:9%;
    justify-content: space-between;
    color:white;
    padding: 2vh 3vw;
    border-bottom: 2px solid white ;
}
.logo{
    font-size: 1.3em;
    padding-bottom:1vh;
    font-weight: 600;
}
.nav2{
    position: relative;
    width: 38vw;
    height:100%;
    background-color: #222;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav2 a{
    position: relative;
    display: inline-block;
    font-size: 1vw;
    font-weight: 600;
    color:#fff;
    text-decoration: none;
    padding: 0 2vw;
    z-index: 1;
}
.nav2 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 7.5vw;
    height:100%;
    background:linear-gradient(45deg, #4f1919,#ff3333);
    border-radius: 8px;
    transition: .5s;
}
.nav2 a:nth-child(1):hover ~ span{
    left:0;
}
.nav2 a:nth-child(2):hover ~ span{
    left:7vw;
}
.nav2 a:nth-child(3):hover ~ span{
    left: 15vw;
}
.nav2 a:nth-child(4):hover ~ span{
    left:22vw;
}
.nav2 a:nth-child(5):hover ~ span{
    left:31vw;
}
.menu{
font-size: 1.6vw;
display: none;
}
@media (max-width:600px) {
    .nav{
        background-color: #E3867D;
        color:#222;
        /* padding: 0 5vw; */
    }
        .nav h1{
        font-size:6vw;
    }
    /* .nav1 .nav2{
        font-size: 4vw;
        display: none;
    } */
    .menu{
        display: initial;
       font-size: 6vw;
    }
    .nav1 .nav2 {
        font-size: 4vw;
        position: absolute;
        top: 70px;
        left:0;
        right: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #E3867D;
        gap: 0;
        overflow: hidden;
    }
}